[main]
#Seed: What we initialize our RNG with. Blank starts randomly
seed:

#Sequence Length: number of times to pit each agent against the other
l:5

#Runs: Number of times we run our EA
runs:30

[agent]
#Memory: how sequences back we remember
k:10

#Maximum: Tree Debth
d:5

[init]
#Method, either grow or full (currently only grow)
method:grow

#Opponent 2 csv
op2:opponent1.csv